body{
    margin:0;
}

nav{
    display:flex;
    padding:1vw;
    justify-content: space-between;
    color:white;
    background-color: black;
    position:sticky;
    top:0;
    z-index:5;
}

a{
    text-decoration: none;
    color:white;
    padding:1vw;
}

.container-2{
    display: grid;
    grid-template-columns:0.5fr 3.5fr;
}

#shop-btn{
    background-color: black;
    color:white;
    padding:0.5vw 3vw;
    border:1px solid white;
}

.first{
    padding:0 3vw;
    background-color: black;
    height:105%;
    margin:0;
    color:white;
    position:relative;
    left:0;
}
#search{
   width:95%;
   margin:1vw;
   padding: 1vw;
}

.catagory{
    padding:1vw 3vw;
    width:15vw;
    border:1px solid black;
    background-color: white;
}
.catagory:focus,.catagory:hover{
    background-color: black;
    color:white;
}

.buttons{
    display:flex;
    justify-content: space-between;
    padding:0 3vw;
}

#products{
    display:flex;
    flex-flow: wrap;
    gap:1rem;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
}

.product-image{
    width:100%;
    height:60%;
}

.container-3{
    word-wrap: break-word;
    padding:1vw;
    width: 300px;
    height: 60vh;
    position:relative;
    border:1px solid black;
}
.container-3 > h5{
    margin:1px 0;
}
.tocart{
    background-color: black;
    color:white;
    position:absolute;
    bottom:1vw;
    left:1vw;
    right:1vw;
}

.color{
    width:10px;
    height:10px;
    border-radius:50%;
    gap:1vw;
    display:inline-block;  
}